<div class="page__wrapper">   
    <div class="main-layout">
        <app-product-header></app-product-header>
        <!--  -->
        <div class="release-update-page">
            <div class="middle-content">
                <div class="container">
                  <div class="donary-relase-updates">
                    <h1>{{'RELEASEUPDATE' | translate}}</h1>
                    <div class="donary-release-note">
                      <ul>
                        <li>
                          <span>Email_blast_2022_08_15.html</span>
                        </li>
                        <li>
                          <span>Email_blast_2022_08_15.html</span>
                        </li>
                        <li>
                          <span>Email_blast_2022_08_15.html</span>
                        </li>
                        <li>
                          <span>Email_blast_2022_08_15.html</span>
                        </li>
                        <li>
                          <span>Email_blast_2022_08_15.html</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <!--  -->
    </div>
</div>

