<div class="modal-head">
    <h4>New Donation <sup>Beta</sup></h4>
    <a class="modal-close" href="javascript:void(0)" (click)="onClose()">
        <svg xmlns="http://www.w3.org/2000/svg" width="14.809" height="14.808" viewBox="0 0 14.809 14.808">
            <g id="Group_1382" data-name="Group 1382" transform="translate(7.404 -4.575) rotate(45)" opacity="0.55">
                <line id="Line_185" data-name="Line 185" y2="16.942" transform="translate(8.471 0)" fill="none"
                    stroke="#727272" stroke-linecap="round" stroke-width="2" />
                <line id="Line_186" data-name="Line 186" x2="16.942" transform="translate(0 8.471)" fill="none"
                    stroke="#727272" stroke-linecap="round" stroke-width="2" />
            </g>
        </svg>
    </a>
</div>
<div class="modal-body">

    <div [formGroup]="formGroup">
        <div class="modal-grid d-flex">
            <div class="w-50">
                <div class="form-group">
                    <h6>{{ 'AMOUNT' | translate }}</h6>
                    <app-amount-of-transaction></app-amount-of-transaction>
                </div>
                <app-donor-dropdown-of-transaction (donorChange)="getDonor($event)"></app-donor-dropdown-of-transaction>
                <app-details-of-transaction></app-details-of-transaction>
            </div>
            <div class="w-50">
                <div class="mb-2">
                    <app-payment-method-of-transaction></app-payment-method-of-transaction>
                </div>
                <div class="modal-card modal-form position-relative">
                    <app-schedule-of-transaction></app-schedule-of-transaction>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="aliyas-col aliyas-notify d-flex align-items-center pl-0 mt-0" *ngIf="( !isDonorBulkSelected)">
        <h6>NOTIFY DONOR:</h6>
        <div class="form-group ae-checkbox with-label from-group-email d-flex align-items-center mb-0">
            <input id="email-to" name="notify" type="checkbox" [disabled]="account.value==null||account.value==''"
                [checked]="EmailCheckbox" (change)="ChangeEmail($event)" />
            <label class="mt-0" for="email-to">Email To:</label>
            <div class="option-group position-relative " appClickOutside
                (clickOutside)="closeTransactionEmailDropdown($event)"
                (click)="donarNotifyDwnHideShow('notify-credit-card')">
                <span class="option-select notify-credit-card"> {{getEmailSelected}}</span>
                <ul class="option-dropdown list-unstyled position-absolute" *ngIf="isDropDownOpen">
                    <li [class.active]="item.email==notifyDonarEmail.email"
                        class="align-items-center d-flex justify-content-between"
                        *ngFor="let item of notifyDonarEmailArray" (click)="selectNotifyDonarEmail(item)">
                        {{item.email}} <span>{{item.label}}</span></li>
                    <li class="align-items-center d-flex justify-content-between opacity-40"
                        (click)="openEmailAddressPopup()"> + Add email address</li>
                </ul>
            </div>
        </div>
        <div class="form-group ae-checkbox with-label d-flex align-items-center mb-0">
            <input id="sms-to" name="notify" type="checkbox" [disabled]="account.value==null||account.value==''"
                [checked]="PhoneCheckbox" (change)="ChangePhone($event)" />
            <label class="mt-0" for="sms-to">SMS To:</label>
            <div class="option-group position-relative" appClickOutside
                (clickOutside)="closeTransactionSmsDropdown($event)"
                (click)="donarSmsNotifyDwnHideShow('notify-sms-credit-card')">
                <span class="option-select notify-sms-credit-card"> {{getPhoneSelected}} </span>
                <ul class="option-dropdown list-unstyled position-absolute" *ngIf="isSmsDropDownOpen">
                    <li [class.active]="item.phone==notifyDonarPhoneNumber.phone"
                        class="align-items-center d-flex justify-content-between"
                        *ngFor="let item of notifyDonarPhoneArray" (click)="selectNotifyDonarPhone(item)">
                        {{item.phone}} <span>{{item.label}}</span></li>
                    <li class="align-items-center d-flex justify-content-between opacity-40"
                        (click)="openPhoneNumberPopup()"> + Add phone Number</li>
                </ul>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="onClose()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="processTransaction()">{{ 'PROCESS' | translate }}</button>
</div>