<div class="hold-transition login-page">
    <div class="login-box row no-gutters justify-content-center">
      <!-- /.login-logo -->
      <div class="col-sm-6">
      <div class="card">
        <div class="card-body login-card-body confirm-pass">
          <p class="login-box-msg"><img src="/assets/dist/img/donary-drm-logo.svg" class="main_logo"></p>
          <div id="login_div">
          <div class="password-label">
            <h1>Password <span>Update</span></h1>
            <p class="login-desc">Please choose your new Password</p>
          </div>
          <form name="form" (ngSubmit)="f.form.valid && onResetPassword(f)" #f="ngForm">
            <div class="row">
                <div class="input-group col-12 mb-3">
                <input [type]="passwordType" class="form-control"  name="pass" [(ngModel)]="txtPassword"
                  id="input-email" placeholder="Enter New Password"  #pass="ngModel"
                   [ngClass]="[pass.touched && pass.invalid ? 'error-field' : '']"
                  required autofocus >
                  <i class="icon-lock"></i>
                  <i class="icon-eye {{setClass}}" (click)="ShowPassword(false)"></i>
                <div *ngIf="f.submitted && pass.invalid" class="input-group col-12">
                  <span class="error invalid-feedback" style="display: block;">Password is required</span>
                </div>
              </div>
            </div>
            <div class="row password_txtbx">
              <div class="input-group col-12 mb-3">
                <input [type]="passwordTypeConf" class="form-control" id="passwordId"  [(ngModel)]="txtConfirmPassWord"
                  name="confirmpassword"  placeholder="Confirm New Password" #confirmpassword="ngModel"
                   required (blur)="checkPassMatch()">
                   <i class="icon-lock"></i>
                  <i class="icon-eye {{setClass1}}" (click)="ShowPassword1(false)"></i>
                  <div *ngIf="checkPassMessage" class="input-group col-12">
                    <span class="error invalid-feedback" style="display: block;">{{checkPassMessage}}</span>
                  </div>
              </div>
            </div>
          <div class="btn-wrapper">
            <button class="btn btn-primary btn-block"><span *ngIf="!isloading">Save New Password</span></button>
            <div class="loader" *ngIf="isloading">
                <img src="assets/dist/img/rolling-loader.svg" alt="" />
            </div>
          </div>
        </form>
        <div class="signup-text">
         Back to <a href="/" class="signup-link">Sign In</a>
        </div>
        </div>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="login-img h-100 d-flex align-items-end justify-content-center">
        <img src="/assets/dist/img/donary-login.png" alt="Reset" />
      </div>
    </div>
    </div>
  </div>
