<div class="diglog_modal pledge_schedule_moodal payment_schedule_moodal pledge_card" ngbAutofocus tabindex="-1">
	<div class="diglog_header modal__custom_header">
		<div class="titlebar">
			<h4>{{'PLEDGESHEDULE'|translate}} #{{scheduleNum}}</h4>
			<span class="label-status active" [ngClass]="status_class">{{scheduleStatus}}</span>

		</div>
		<div class="header_actions schedule_pledge_actions">

			<ng-container *ngIf="CheckStatusShowHide(scheduleStatus)">
				<button 
					class="b_tn btn_primary" 
					[class.edit-have-related-pledge]="isHaveRelatedPledgePayments()"
					[attr.data-hover]="isHaveRelatedPledgePayments() ?  'unapply pledge from schedule to edit' : 'Edit'"
					[disabled]="isHaveRelatedPledgePayments()">

					<i class="fa fa-edit" aria-hidden="true" (click)="openEditSchedulePopup()"></i>
				</button>
			</ng-container>
			
			<div  (clickOutside)="onClickedOut()">
			<button class="b_tn" type="button" (click)="showTransMenu()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu transaction_opts show" *ngIf="showTrans">
        <li>
          <a class="dropdown-item" style="cursor: pointer;" *ngIf="makeTransactionPermission" (click)="makeTransactionPopup()"> <i class="fas fa-clipboard-list" aria-hidden="true"></i> {{'NEWTRANSACTION'|translate}}</a>
        </li>
        <li *ngIf="isReminderDisplay()">
          <a class="dropdown-item" style="cursor: pointer;" (click)="AddReminderPopup()"> <i class="fas fa-bell" aria-hidden="true"></i>{{'ADDREMINDER'|translate}}</a>
        </li>
      </ul>
			</div>
			<div (clickOutside)="onClickedOutside()">
			<button class="b_tn" appDataHover labelText="{{'ACTIONS' | translate}}" (click)="showActionMenu()">
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			</button>
			<ul class="dropdown-menu paymnt_opts" *ngIf="showAction">
				<li>
					<a class="dropdown-item" style="cursor: pointer;" (click)="onCancel()"> <i class="fa fa-ban" aria-hidden="true"></i> {{'CANCELSHEDULE'|translate}}</a>
				</li>
				<li *ngIf="canPause()" (click)="onPauseClick()">
					<a class="dropdown-item" style="cursor: pointer;"><i class="fas fa-pause" aria-hidden="true"></i> {{'PAUSESHEDULE'|translate}}</a>
				</li>

				<ng-template [ngIf]="canResume()">
					<ng-template [ngIf]="checkForSubmenu()" [ngIfElse]="simpleResume">
						<li class="dropdown-submenu" *ngIf="canResume()">
							<a class="dropdown-item" style="cursor: pointer;"><i class="fas fa-play" aria-hidden="true"></i> {{'RESUME'|translate}}</a>
							<ul class="dropdown-menu resume-menu" role="menu" aria-labelledby="dropdownMenu">
								<li (click)="onLeaveClick()">
									<a class="dropdown-item resume-menu-item" style="cursor: pointer;">{{'LEAVEORIGINAL'|translate}}</a>
								</li>
								<li (click)="onResumeClick()">
									<a class="dropdown-item resume-menu-item" style="cursor: pointer;">{{'EDITNEXTPAYMENTDATE'|translate}}</a>
								</li>
							</ul>
						</li>
					</ng-template>
					<ng-template #simpleResume>
						<li (click)="onSimpleResume()">
							<a class="dropdown-item" style="cursor: pointer;"><i class="fas fa-play" aria-hidden="true"></i> {{'RESUME'|translate}}</a>
						</li>
					</ng-template>

				</ng-template>
			</ul>
			</div>
			<button class="dismiss" (click)="closePopup()">&times;</button>
		</div>
	</div>
	<div class="diglog_body modal__custom_content">
		<div class="top_row">
			<div class="name_colm">
				<app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '190px', height: '20px' }"><h4>{{accountName}}</h4> </app-skeleton-loader-component>
				<app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '190px', height: '20px' }"><h5 class="lng_hebrew">{{accountNameJewish}} </h5></app-skeleton-loader-component>
			</div>
			<!-- code old -->
			<!-- <div class="amounts_colm pledge_amount_col">
					<div class="value">
						{{commonMethodService.formatAmount(totalAmount)}}
					</div>

			</div> -->
			<!-- end old code -->
			<!-- new code added -->
			@if(isloading){
				<app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '290px', height: '100px' }"></app-skeleton-loader-component>
			  }@else{
				<div class="amounts_colm payment_amt">
					<div class="amount_status">
					<div class="inline-col total_amt">
						<h6>{{'TOTALAMOUNT'|translate}}:</h6>
						<div class="value">
							{{commonMethodService.formatAmount(totalAmount)}}
						</div>
					</div>
					<div class="inline-col status">
					<span class="label-status active" [ngClass]="status_class" *ngIf="scheduleStatus!=null">{{scheduleStatus |translate}}</span>
				  </div>
				  </div>
					<div class="inline-col-group">
						<div class="inline-col">
							<h6>{{'RECENT'|translate}} ({{recentCount}}):</h6>
							<div class="value small-text">
								{{commonMethodService.formatAmount(recentAmount)}}
							</div>
						</div>
					<div class="inline-col">
						<h6>{{'UPCOMING'|translate}} ({{upcomingCount}}):</h6>
						<div class="value small-text">
							{{commonMethodService.formatAmount(openAmount)}}
						</div>
					</div>
					<div class="inline-col">
						<h6>{{'PAID'|translate}} ({{paidCount}}):</h6>
						<div class="value small-text">
							{{commonMethodService.formatAmount(paidAmount)}}
						</div>
					</div>
					
	
					</div>
			</div>
			  }
		 
			<!-- end new code -->
		</div>
	
		<div class="tabs__wrap">
			<ul class="nav nav-tabs">
			<li class="active"><a  href="#info" data-toggle="tab">{{'INFO' |translate }}</a></li>
			<li><a href="#recentPLedges" data-toggle="tab">{{'RECENTPLEDGES'|translate}}({{recentCount}})</a></li>
			<li><a href="#upcomingPledges" data-toggle="tab">{{'PENDINGPLEDGES'|translate}}({{upcomingCount}})</a></li>
			<li><a href="#appliedPledges"  data-toggle="tab">{{'APPLIEDTOPLEDGES' |translate}}({{appliedToPledgeCount}})</a></li>
			<li><a href="#" class="disabled grey-out" data-toggle="tab">{{'ALERT' |translate }}</a></li>
			<li><a href="#paymentNotes" data-toggle="tab">{{'NOTES'|translate}}</a></li>
		</ul>

			<div class="tab-content ">
				<div class="tab-pane fade in active show" id="info">
	          			<div class="left_colm">
							@if(isloading){

								<ng-container *ngFor="let item of skeletonitems">
								  <div style="margin-bottom: 0px;">
									<app-list-card-skeleton-loader [isLoader]="isloading"></app-list-card-skeleton-loader>
								  </div>
								</ng-container>
							  }
							  @else{
								<div class="block-col">
									<span class="icon campaign_icon"></span>
									<span class="text">
										<h6>{{'CAMPAIGN' |translate }}:</h6>
										<p>{{campaignName}}  </p>
									</span>
								</div>
								<div class="block-col">
									<span class="icon reason_icon"></span>
									<span class="text">
										<h6>{{'REASON' |translate }}:</h6>
										<p class="lng_hebrew">{{reasonName}}  </p>
									</span>
								</div>
								<div class="block-col">
									<span class="icon location_icon"></span>
									<span class="text">
										<h6>{{'LOCATION' |translate }}:</h6>
										<p class="lng_hebrew">{{locationName}}  </p>
									</span>
								</div>
								<div class="block-col">
									<span class="icon collector_icon"></span>
									<span class="text">
										<h6>{{'COLLECTOR' |translate }}:</h6>
										<p class="lng_hebrew">{{collectorName}} </p>
									</span>
								</div>
							  }
	          				
	          			</div>
	          			<div class="right_colm">
							@if(isloading){
								<div class="inline-colms">
								  <ng-container *ngFor="let item of skeletoncolitems">
									<div class="inline-col" style="margin-bottom: 0px;" >
									  <app-skeleton-info-loader [isLoader]="isloading"></app-skeleton-info-loader>
									</div>
								  </ng-container>
								</div>
							  } @else {
								  <div class="inline-colms">
									<div class="inline-col">
										<h6>{{'SCHEDULED' |translate }}:</h6>
										<div class="value small-text">
											{{commonMethodService.formatAmount(scheduleAmount)}}
										</div>
									</div>
									<div class="inline-col">
										<h6>{{'FREQUENCY' |translate }}:</h6>
										<div class="value small-text">
											{{frequency}}
										</div>
									</div>
									<div class="inline-col">
										<h6>{{'DATE&TIMECREATED' |translate }}:</h6>
										<div class="value small-text">
											<p>{{ createdDate | donaryDateFormat: "long" }}</p>
											<p class="lng_hebrew">{{createdDateJewish}}</p>
										</div>
									</div>
									<div class="inline-col">
										<h6>{{'PLEDGESLEFT' |translate }}:</h6>
										<div class="value small-text">
											{{pledgesLeft}}
										</div>
									</div>
								  <div class="inline-col">
									<h6>{{'USER' |translate }}:</h6>
									<div class="value small-text">
										{{userName}}
									</div>
								</div>
								<div class="inline-col">
									<h6>{{'SOURCE' |translate }}:</h6>
									<div class="value small-text">
										{{deviceName}}
									</div>
								</div>
								<div class="inline-col">
									<h6>{{'NEXTPLEDGE' |translate }}:</h6>
									<div class="value small-text">
										<p>{{nextScheduleDt | donaryDateFormat: "short" }}</p>
										<p class="lng_hebrew">{{nextScheduleDtJewish}}  </p>
									</div>
								</div>
	
							</div>
							  }
	          			</div>
				</div>
					<div class="tab-pane fade" id="recentPLedges">
	          			<div class="table__main">
	          				<table cellpadding="0" cellspacing="0" border="0">
	          					<thead>
	          						<tr>
	          							<th class="text-center">{{'SCHEDULE#' |translate }}</th>
	          							<th class="text-center">{{'AMOUNT' |translate }}</th>
	          							<th class="text-center">{{'DATE' |translate }}</th>
	          							<th class="text-right">{{'YIDDISHDATE' |translate }}</th>
	          							<th class="status text-center">{{'STATUS' |translate }}</th>
	          						</tr>
	          					</thead>
	          					<tbody *ngIf="pastSchedules?.length > 0" >
									<ng-container *ngFor="let item of pastSchedules">
										<ng-template  [ngTemplateOutlet]="pastScheduleRow" [ngTemplateOutletContext]="{item: item}"></ng-template>
									</ng-container>
								</tbody>
	          				</table>
	          			</div>
					</div>
				




		        <div class="tab-pane fade"  id="upcomingPledges">
		          	<div class="table__main">
	          				<table cellpadding="0" cellspacing="0" border="0">
	          					<thead>
	          						<tr>
	          							<th class="text-center">{{'AMOUNT' |translate }}</th>
	          							<th class="text-center">{{'DATE' |translate }}</th>
	          							<th class="text-right">{{'YIDDISHDATE' |translate }}</th>
	          							<th class="status text-center actions-tbn">{{'STATUS' |translate }}</th>
	          						</tr>
	          					</thead>
								  <tbody  *ngIf="upcomingSchedules?.length > 0">
									<tr *ngFor="let item of upcomingSchedules; let i=index">
										<td class="text-center"><strong>{{commonMethodService.formatAmount(item.scheduleAmount)}}</strong></td>
										<td class="text-center">{{item.scheduleDate | donaryDateFormat: "long"}}</td>
										<td class="text-right"> <strong class="lng_hebrew"> {{item.scheduleDateJewish}}</strong>  </td>
										<td class="status actions-tbn">

											<span class="status pending" [ngClass]="getStatusClss(item.scheduleStatus)">{{item.scheduleStatus}}</span>

											<span class="action">
												<i class="more-icon"  data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"></i>
												<div class="dropdown_card dropdown-menu" >
													<ul >
														<li><a class="dropdown-item" style="cursor: pointer;" (click)="OpenEditAmountPopup(item.scheduleId,item.scheduleDate,true)">{{'EditAmount'| translate}}</a></li>
														<li><a class="dropdown-item" style="cursor: pointer;"   (click)="DismissPendingPledge(item.scheduleId,item.scheduleDate)">{{'DISMISSPLEDGE'|translate}}</a></li>
														<li><a class="dropdown-item" style="cursor: pointer;"   (click)="PausePendingPledge(item.scheduleId,item.scheduleDate)">Pause  Pledge</a></li>
														<li><a class="dropdown-item" style="cursor: pointer;"   (click)="OpenEditAmountPopup(item.scheduleId,item.scheduleDate,false)">{{'CHANGEDATE' |translate}}</a></li>
													</ul>
												</div>
											</span>
										</td>
									</tr>
								</tbody>
	          				</table>
	          			</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="paymentNotes">
					
				

					<div class="notes-box">
						<label class="lbl_text">
							{{'NOTE'|translate}}:
						</label>
						<textarea class="notes_input" readonly="true">{{note}}</textarea>
					</div>
					<div class="pymt_log" *ngIf="changeLog!=null">
						<span class="lblPaymentLogs">{{'PAYMENTLOGS'|translate}}</span><br><br>
						<span [innerHTML]="changeLog"></span><br>
					</div>
				</div>
				<div class="tab-pane fade"  id="appliedPledges">
					<div class="table__main">
						<table cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="text-center">{{'CAMPAIGN' |translate }}</th>
									<th class="text-center">{{'PLEDGE#' |translate }}</th>
									<th class="text-center">{{'PLEDGE' |translate }}</th>
									<th class="text-center">{{'APPLIED' |translate }}</th>
									<th class="text-center">{{'BALANCE' |translate }}</th>
									<th class="text-center">{{'DATE' |translate }}</th>
								</tr>
							</thead>
							<tbody  *ngIf="appliedToPledgeSchedules?.length > 0">
								<ng-container *ngFor="let item of appliedToPledgeSchedules; let i=index">
									<tr>
										<td class="text-center">{{item.campaignName}}</td>
										<td class="text-center">{{item.pledgeId}}</td>
										<td class="text-center"><strong>{{commonMethodService.formatAmount(item.pledgeAmount)}}</strong></td>
										<td class="text-center"><strong>{{commonMethodService.formatAmount(item.paidAmount)}}</strong></td>
										<td class="text-center"><strong>{{commonMethodService.formatAmount(item.balance)}}</strong></td>
										<td class="text-center">
											{{item.pledgeDate | donaryDateFormat: 'name'}}
												<br>
											<strong class="lng_hebrew"> {{item.pledgeJewishDate}}</strong>
										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</div>
			  </div>

				<div class="tab-pane fade" id="alerts">
						<div class="left_colm">
							<h6>{{'SENDPLEDGEBILL' |translate }}</h6>
	          				<div class="block-col">
	          					<div class="radio_input">
	          						<input type="radio" name="sendPledge" />
	          						<label>{{'EMAIL' |translate }}</label>
	          					</div>
	          					<div class="radio_input">
	          						<input type="radio" name="sendPledge" />
	          						<label>{{'MAIL' |translate }}</label>
	          					</div>
	          					<div class="radio_input">
	          						<input type="radio" name="sendPledge" />
	          						<label>{{'TEXTMESSAGE' |translate }}</label>
	          					</div>
	          				</div>
	          			</div>

	          		</div>
	          	</div>


			</div>
		</div>

<ng-template #pastScheduleRow let-item="item">
	<tr>
		<ng-container *ngIf="item.scheduleStatus != 'Canceled';else canceledTdData">
			<td class="text-center" (click)="openPledgeCardPopup(item.paymentId)" style="cursor: pointer;color: blueviolet;">{{item.scheduleNum}}</td>
		</ng-container>
		<ng-template #canceledTdData>
			<td class="text-center">{{item.scheduleNum}}</td>
		</ng-template>
		<td class="text-center"><strong>{{commonMethodService.formatAmount(item.scheduleAmount)}}</strong></td>
		<td class="text-center">{{item.paymentDate | donaryDateFormat: "short"}}</td>
		<td class="text-right"> <strong class="lng_hebrew">{{item.scheduleDateJewish}}</strong>  </td>
		
			<td>
				<span class="status" [ngClass]="getStatusClss(item.paymentStatus)">{{item.paymentStatus}}</span>

		</td>
	</tr>
</ng-template>