.disabled-edit-button{
    background-color: rgb(123 91 196 / 50%) !important;
}

.disabled-void-button{
    background-color: rgb(237 234 244 / 50%) !important;
}

.default-cursor{
    cursor: default;
}

