<div class="modal_wrap" style="display: block;" ngbAutofocus tabindex="-1">
<div class="modal-header modal__custom_header" style="display: block;">
    <div class="row">
        <div class="input-group col-4">
            <h4 class="modal-title" *ngIf="!isEdit">{{'ADDDONOR'|translate}} {{'PHONE'|translate}}</h4>
            <h4 class="modal-title" *ngIf="isEdit">{{'EDITDONOR'|translate}} {{'PHONE'|translate}}</h4>
        </div>
        <div class="input-group col-7">
            &nbsp;
        </div>       
        <div class="input-group col-1">
            <button type="button" class="close" aria-label="Close" (click)="closePopup()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
    <form name="donorform" (ngSubmit)="f.valid && UpsertDonorPhone()" #f="ngForm" novalidate>
<div class="modal-body modal__custom_content">
    <div class="card" style="box-shadow: none !important;">
        <div class="card-body">
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label>{{'PHONE'|translate}} {{'LABEL'|translate}}</label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text"  [(ngModel)]="phoneLabel" #dphoneLabel="ngModel" class="form-control" 
                    name="dphoneLabel" [ngClass]="{ 'is-invalid': f.submitted && dphoneLabel.invalid }" required
                   id="dphoneLabel" />  
                </div>
                <div *ngIf="f.submitted && dphoneLabel.invalid" class="row text-danger">
                    <div *ngIf="dphoneLabel.errors.required" class="val-error">{{'PHONE'|translate}} {{'LABELREQUIRED'|translate}}</div>
                </div>                  
            </div>  
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label>{{'PHONENUMBER'|translate}}</label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" [(ngModel)]="phoneNumber" 
                        [validation]="true" 
                        mask="(000) 000-000099999" 
                        #dphoneNumber="ngModel" class="form-control" name="dphoneNumber" [ngClass]="{ 'is-invalid': f.submitted && dphoneNumber.invalid }" required
                    id="dphoneNumber" />                     
                </div>  
                <div *ngIf="f.submitted && dphoneNumber.invalid" class="row text-danger">
                    <div *ngIf="dphoneNumber.errors.required" class="val-error">{{'PHONENUMBER'|translate}} {{'ISREQUIRED'|translate}}</div>
                </div>                                          
            </div>                                               
            </div>
        </div>       
    </div>
<div class="modal-footer modal__custom_footer">
    <button type="button" class="btn btn-default" (click)="closePopup()">{{'CLOSE'|translate}}</button>&nbsp;&nbsp;
    <button class="btn btn-primary" *ngIf="!isEdit">{{'ADD'|translate}}</button>
    <button class="btn btn-primary" *ngIf="isEdit">{{'UPDATE'|translate}}</button>
</div>
</form>
<div *ngIf="isloading" class="card-overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
</div>
