<div
  class="modal-body modal__custom_content filter_modal_popup"
  ngbAutofocus
  tabindex="-1"
>
  <div class="card" style="box-shadow: none !important">
    <div class="row close_btn">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closePopup()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input-group col-4 mb-2">
          <label for="lblDonor">
            {{ "STATUS" | translate }}
          </label>
        </div>
        <div class="input-group col-8 mb-2">
          <select
            class="form-control"
            [(ngModel)]="status"
            name="slctStatus"
            id="input-status"
          >
            <option value="1">{{ "ACTIVE" | translate }}</option>
            <option value="4">{{ "DELETED" | translate }}</option>
            <option value="3">{{ "COMPLETED" | translate }}</option>
          </select>
        </div>
      </div>

      <div class="row">
          <div class="input-group col-4 mb-2">
            <label class="lbl__text">{{ "Assignee" | translate }} :</label>
          </div>
          <div class="input-group col-8 mb-2">
            <div class="input_col">
                <angular2-multiselect
                  [settings]="
                    commonMethodService.setDropDownSettings(
                      '',
                      2,
                      false,
                      true,
                      true
                    )
                  "
                  [data]="assigneeList"
                  [(ngModel)]="assigneeId"
                  (onSelect)="SelectAssignee($event)"
                  (onDeSelectAll)="onDeSelectAssignee($event)"
                >
                </angular2-multiselect>
              </div>
          </div>
      </div>
    </div>
    <div *ngIf="commonMethodService.isCommonDropDownloading" class="overlay">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>

  <div class="modal-footer justify-content-between modal__custom_footer">
    <div class="left_part"></div>
    <div class="right_part">
      <button class="btn btn-primary" (click)="searchSource()">
        {{ "SEARCH" | translate }}</button
      >&nbsp;&nbsp;
      <button class="btn btn-default" (click)="clearFilter()">
        {{ "CLEARALLFILTERS" | translate }}
      </button>
      <!-- <button type="button" class="btn btn-default" (click)="closePopup()">Close</button> -->
    </div>
  </div>
</div>
