<section class="login-page login-page-gray">
    <div class="set-password">
        <div class="header-password text-center">
            <a href="/" class="header-logo">
                <img src="assets/dist/img/donary-tm.png" alt="Logo" width="178" height="53" />
            </a>
            <div class="header-desc">
                <p>{{fullName}}</p>
                <span class="small-text">{{organizationName}}</span>
                <span class="small-text header-mail">{{userName}}</span>
            </div>
        </div>
        <div class="password-box d-flex flex-column justify-content-center" [ngClass]="{'min-h-auto': forceGoogleLogin}" *ngIf="isInvited && !isSuccess && isVisited">
          <form  [formGroup]="setPasswordForm" (ngSubmit)="onSetPassword()">
            <ng-container *ngIf="!forceGoogleLogin">
                <h1>Create your new password</h1>
                <div class="form-group position-relative" [class.not-in-focus]="isSubmitted || passwordFieldFocusOut"
                (focusin)="passwordFieldFocusOut = false" (focusout)="passwordFieldFocusOut = true">
                    <label class="form-label">ENTER PASSWORD:</label>
                    <input [type]="passwordType" class="form-control" id="password" placeholder="New Password" autofocus
                    formControlName="password"  />
                    <span class="min-passwaord">* min. 6 characters</span>
                    <div class="password-action-wrap">
                        <i class="icon-eye {{setClass}}" (click)="ShowPassword()"></i>
                        <div *ngIf="Password?.touched  && Password?.invalid">
                          <span class="error invalid-feedback" style="display: block;">{{Password?.errors?.minlength ? "Minimum 6 characters required" :"Password is required."}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group position-relative" [class.not-in-focus]="isSubmitted || confirmPasswordFieldFocusOut">
                    <label class="form-label">CONFIRM PASSWORD:</label>
                    <input  [type]="confirmPasswordType" id="confirmPassword"
                     formControlName="confirmPassword" (focus)='confirmedFocused()'
                    placeholder="Confirm password" class="form-control"/>
                    <div class="password-action-wrap">
                        <i class="icon-eye {{setConfirmClass}}" (click)="ShowConfirmPassword()"></i>
                        <div *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid" class="input-group col-12">
                          <span class="error invalid-feedback" style="display: block;" *ngIf="ConfirmPassword?.errors?.mismatch">Password Not Match</span>
                        </div>
                        <div *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid && ConfirmPassword?.errors?.required" class="input-group col-12">
                          <span class="error invalid-feedback" style="display: block;">Confirm Password is required.</span>
                        </div>
                    </div>
                </div>
               
                <button class="btn btn-primary w-100">Submit</button>
            </ng-container>
            <div class="loginwith-google-newl" *ngIf="forceGoogleLogin" id="googleButton">
            </div>
            <p class="already-account text-center">Already have an account? <a href="/" class="sign-in">Sign in</a></p>
          </form>
        </div>
        <div class="password-box d-flex flex-column justify-content-center" *ngIf="isSuccess">
            <div class="pasword-inner text-center">
                <div class="password-check">
                    <span class="material-icons">check</span>
                </div>
                <h1 class="mb-2">Password setup complete!</h1>
                <span class="small-text mb-5">Please log in to continue</span>
                <a class="btn btn-primary btn-sign" href="/">Sign in</a>
            </div>
        </div>
        <div class="password-box d-flex flex-column justify-content-center" *ngIf="!isInvited && isVisited">
            <div class="pasword-inner text-center">
                <h1>You have already accepted your invite!</h1>
                <span class="small-text mb-5">You already joined the event.</span>
                <a class="btn btn-primary btn-sign" href="/">Sign in</a>
            </div>
        </div>
    </div>
     <div *ngIf="isloading" class="card-overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
</section>
