<app-product-header></app-product-header>
<div class="signup_page_wrappper">
    <div class="container">
        <div class="grey_box" [class.signup_form]="isAnimate" *ngIf="!isSignUp">
            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" >
                <h4>{{'CREATEACCOUNT'  |translate}}</h4>        
                <div class="form-section">
                    <div class="form-group">
                        <label class="lbl_text">{{'ORGANIZATIONNAME'  |translate}} :</label>
                        <input type="text" class="form-control" formControlName="OrgName" 
                            [class.error-field]="organization.invalid && isFormubmited" />
                    </div>


                    <div class="form-group signup-field-half">
                        <label class="lbl_text">{{'NAME'  |translate}} :</label>
                        <div class="colm colm-6 br-0">
                            <input type="text" class="form-control" 
                            placeholder="{{'FIRSTNAME'  |translate}}"  
                            formControlName="Firstname" 
                            [class.error-field]=" firstname.invalid && isFormubmited"/>
                        </div>
                        <div class="colm colm-6">
                            <input type="text" class="form-control" placeholder="{{'LASTNAME'  |translate}}"  
                            formControlName="{{'LASTNAME'  |translate}}" 
                            [class.error-field]="lastname.touched && lastname.invalid && isFormubmited">
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label class="lbl_text">{{'EMAILUSERNAME'  |translate}} :</label>
                        <input type="email" class="form-control" formControlName="email" 
                            [class.error-field]="email.touched && email.invalid && isFormubmited" />
                        <ng-container *ngIf="email.touched && email.invalid">
                            <div class="row text-danger">
                                <div  *ngIf="email.errors?.email" class="val-error">{{'EMAILNOTVALID'  |translate}}</div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label class="lbl_text">{{'CREATEPASSWORD'  |translate}} :</label>
                        <input [type]="passwordType" class="form-control" formControlName="password" 
                            [class.error-field]="password.touched && password.invalid && isFormubmited" />
                        <ng-container *ngIf="password.touched && password.invalid">
                        </ng-container>
                        <div class="password-action-wrap">
                            <span class="show_icon" *ngIf="!showPassword" (click)="ShowPassword(true)"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                            <span class= "hide_icon" *ngIf="showPassword" (click)="ShowPassword(false)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                          </div>
                    </div>

                    <div class="form-group">
                        <label class="lbl_text">{{'CONFIRMPASSWORDUPPER'  |translate}} :</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" 
                            [class.error-field]="confirmPassword.touched && confirmPassword.invalid && isFormubmited" />
                        <ng-container *ngIf="confirmPassword.touched && confirmPassword.invalid">
                            <div class="row text-danger">
                                <div  *ngIf="confirmPassword.errors?.mismatch" class="val-error">{{'CONFIRMPASSWORDNOTMATCH'  |translate}} </div>
                            </div>
                        </ng-container>
                    </div>


                    <div class="actions_footer actions_buttons" [class.loading]="isloading">
                        
                        <button type="submit" [disabled]="isloading" class="btn btn-primary"> <span>{{'CREATEACCOUNT'  |translate}}</span> </button>
                        
                    </div>
                </div>
            </form>
        </div>


        <div class="thank-you-main" *ngIf="isSignUp">
            <div class="thank-you-inside">
                <div class="handshake-img">
                    <img src="assets/dist/img/handshake.png" alt="Hand shake">
                </div>
                <div class="thank-you-title">
                    <h2>{{'THANSFORSIGNIN'  |translate}}</h2>
                    <p>{{'YOUARENEWDONOR'  |translate}}</p>
                </div>
                <div class="thank-you-action actions_buttons" [class.loading]="isloading">
                    <button class="btn-shoping" [disabled]="isloading" (click)="onContinueShopping()"> <span>{{'CONTINUESHOPPING'  |translate}}</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
