<div class="product-details-page">
    <app-product-header></app-product-header>
<section class="donor-relation">
    <div class="container">
        <div class="row">
           

            <div class="col-md-6">
                <img src="assets/dist/img/drm-l-product.png" alt="product-img" title="product-img" />
            </div>

            <div class="col-md-6">
                <div class="donor-relation-title">
                    <h1>{{'DRM'  |translate}}</h1>
                </div>

                <div class="donor-relation-price">$949</div>

                <div class="donor-relation-date">
                    <h5>{{'ANNUALSOFTWARELICENSE'  |translate}}</h5>
                </div>

                <div class="donor-relation-text">
                    <p>{{'ANNUALSOFTMESSAGE'  |translate}}
                    </p>
                </div>

                <div class="donor-relation-list">
                    <ul>
                        <li>{{'DONATEWEBINCLUDE'  |translate}}</li>
                        <li>{{'DONATEPHONEINCLUDE'  |translate}}</li>
                        <li>{{'TRAININGINCLUDE'  |translate}}</li>
                        <li>{{'CUSTOMERSUPPORT'  |translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------donor relation end------->

<!---------donor page start--------->

<section class="donor-page tab-content" id="tab-1">
    <div class="container">
        <div class="donor-page-container">
            <div class="donor-header text-center">
                <h1>{{'CHOOSEYOURPLAN'  |translate}}</h1>
            </div>

            <div class="row donor-page-division">
                <div class="col-md-4">
                    <div class="donor-plan-wrapper">
                        <div class="d-flex align-items-center justify-content-between donor-plan">
                            <div>
                                <h3>{{'LIMITED'  |translate}}</h3>
                            </div>

                            <div>
                                <h4>$29.00/{{'MO'  |translate}}</h4>
                            </div>
                        </div>

                        <div class="donor--info">
                            <ul>
                                <li>{{'ACCEPTPAYMENTS'  |translate}}</li>
                                <li>{{'ACCESSLISTS'  |translate}}</li>
                                <li>{{'SHOWTOTALS'  |translate}}</li>
                                <li>{{'REPORTS'  |translate}}</li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="users-title">
                                <h4 class="text-uppercase">{{'USERS'  |translate}} :</h4>
                            </div>

                            <div class="input-group quantity-button">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus">-</span>
                                    </button>
                                </span>

                                <input type="text" id="quantity" name="quantity" class="form-control input-number quantity-number" value="1" min="0" max="100" />

                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus">+</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="donor-plan-wrapper">
                        <div class="d-flex align-items-center justify-content-between donor-plan">
                            <div>
                                <h3>{{'STANDARD'  |translate}}</h3>
                            </div>

                            <div>
                                <h4>$39.00/{{'MO'  |translate}}</h4>
                            </div>
                        </div>

                        <div class="donor--info">
                            <ul>
                                <li>{{'ACCEPTPAYMENTS'  |translate}}</li>
                                <li>{{'ACCESSLISTS'  |translate}}</li>
                                <li>{{'SHOWTOTALS'  |translate}}</li>
                                <li>{{'REPORTS'  |translate}}</li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="users-title">
                                <h4 class="text-uppercase">{{'USERS'  |translate}} :</h4>
                            </div>

                            <div class="input-group quantity-button">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus">-</span>
                                    </button>
                                </span>

                                <input type="text" id="quantity" name="quantity" class="form-control input-number quantity-number" value="0" min="0" max="100" />

                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus">+</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="donor-plan-wrapper">
                        <div class="d-flex align-items-center justify-content-between donor-plan">
                            <div>
                                <h3>{{'PREMIER'  |translate}}</h3>
                            </div>

                            <div>
                                <h4>$49.00/{{'MO'  |translate}}</h4>
                            </div>
                        </div>

                        <div class="donor--info">
                            <ul>
                                <li>{{'ACCEPTPAYMENTS'  |translate}}</li>
                                <li>{{'ACCESSLISTS'  |translate}}</li>
                                <li>{{'SHOWTOTALS'  |translate}}</li>
                                <li>{{'REPORTS'  |translate}}</li>
                            </ul>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="users-title">
                                <h4 class="text-uppercase">{{'USERS'  |translate}} :</h4>
                            </div>

                            <div class="input-group quantity-button">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus">-</span>
                                    </button>
                                </span>

                                <input type="text" id="quantity" name="quantity" class="form-control input-number quantity-number" value="2" min="0" max="100" />

                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus">+</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="select-plan-division row ss">
                <div class="col-4 select-plan">
                    <h6>{{'SELECTEDPRODUCT'  |translate}} :</h6>
                    <div class="d-flex">
                        <div class="select-plan-device">
                            <h4>{{'MOBILEDEVICE'  |translate}} - $949</h4>
                        </div>
                        <div class="quantity-text">
                            <h4>{{'QTY'  |translate}} : 1</h4>
                        </div>
                        <div class="close-icon">
                            <span>
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-5 row select-plan">
                    <div class="col-9">
                        <h6>{{'SELECTEDPLAN'  |translate}} :</h6>
                        <div class="d-flex select-device-inner">
                            <div class="select-plan-device">
                                <h4>{{'PREMIER'  |translate}} - $49.00/{{'MO'  |translate}}</h4>
                            </div>
                            <div class="quantity-text">
                                <h4>{{'QTY'  |translate}} : 2</h4>
                            </div>
                            <div class="close-icon">
                                <span>
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="select-plan-device">
                                <h4>{{'LIMITED'  |translate}} - $29.00/{{'MO'  |translate}}</h4>
                            </div>
                            <div class="quantity-text">
                                <h4>{{'QTY'  |translate}} : 1</h4>
                            </div>
                            <div class="close-icon">
                                <span>
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 select-plan-inner">
                        <h6>{{'SUBTOTAL'  |translate}} :</h6>
                        <h4>$1,095.00</h4>
                    </div>
                </div>

                <div class="col-3 select-plan add-to-checkout">
                    <div class="add-to-cart">
                        <a href="">{{'ADDTOCART'  |translate}}</a>
                    </div>
                    <div class="checkout">
                        <a href="">{{'CHECKOUT'  |translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------donor page end---------->

<!-------donor link start---------->

<section class="donor-links">
    <div class="container">
        <ul class="donor-tabs">
            <li class="tab-link"><a href="#tab-1">{{'SPECIFICATIONS'  |translate}}</a></li>
            <li class="tab-link"><a href="#tab-2">{{'FEATURES'  |translate}}</a></li>
            <li class="tab-link"><a href="#tab-3">{{'REVIEWS'  |translate}}</a></li>
            <li class="tab-link"><a href="#tab-4">{{'HOWITWORKS'  |translate}}</a></li>
        </ul>
    </div>
</section>

</div>