<div class="modal_custom" ngbAutofocus tabindex="-1">
    <div class="modal-header-custom modal__custom_header">
      <h4>{{'SEND' | translate}} {{'EMAIL' | translate}} {{'RECEIPT' | translate}}</h4>
      <span class="close_trigger" (click)="closePopup()" data-dismiss="modal"
        >&times;</span
      >
    </div>
    <div class="modal-content-custom modal__custom_content">
      <form>
        <div class="data-set-form send_email">
          <div class="data-set d-flex align-items-end">
            <div class="form-group d-flex flex-column flex-fill">
              <label>{{'ADD' | translate}} {{'EMAIL' | translate}}:</label>
              <div class="input-group" [ngClass]="isDefaultDonor? 'no-add-button' : ''">
                <input
                  type="email"
                  class="form-control"
                  name="receipt_email"
                  [(ngModel)]="inputEmail"
                  (focusout)="ValidEmail($event)"
                  (keyup)="EnableAddButton($event)"
                  placeholder="{{'ADD' | translate}} {{'EMAIL' | translate}}"
                />
                <!-- <span class=" email_validation text-danger" *ngIf="!isEmailValid">{{'INVALID' | translate}} {{'EMAIL' | translate}}</span> -->
              </div>
            </div>
            <div class="form-group d-flex flex-column form-label">
              <label>{{'LABEL' | translate}}:</label>
              <div class="input-group" [class.validation_border]="!isLabelSelected">
                <angular2-multiselect id="ddlEmail"
                [settings]="commonMethodService.setDropDownSettings('Choose',2,false,true,true)"
                [data]="emailLabelArray"
                name="emailArray"
                (onSelect)="onLabelSelect($event)"
                (onDeSelectAll)="onLabelDeSelect($event)"

                [(ngModel)]="selectedLabelArray">
            </angular2-multiselect>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-add" *ngIf="!isDefaultDonor" [disabled]="isAdd" (click)="AddEmail()">{{'ADD' | translate}}</button>
          </div>
          <div class="form-group d-flex flex-column">
            <label class="mt-0 mb-0">{{'SELECT' | translate}} {{'EMAIL' | translate}}:</label>
            <div class="email-list" *ngFor="let item of emailList; let i=index">
                <input type="checkbox" name="singlecheck"  [checked]="email==item.value && emailNo==i" (change)="OnCheck($event,item.value,i)" id="check_{{i}}" />
                <label for="check_{{i}}">
                  {{ item.value }}
                  <span class="email-label"> ({{item.label}})</span>
                </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-custom-footer space-between modal__custom_footer">

      <span class="sending_txt" *ngIf="isSending">{{'SENDING' | translate}}...</span>
      <div class="save-btn-wrapper">
        <button class="btn btn-default" (click)="closePopup()">{{'CANCEL' | translate}} </button>
        <button class="btn btn-primary" [disabled]="isDisabled || isSaveDisabled || emailList.length==0" (click)="SendReceipt()">{{'SEND' | translate}} </button> <span *ngIf="isSaveDisabled && !isPaymentByClicked" class="tooltip-button-disabled" appDataHover labelText="{{'DONORSENDBILL' | translate}}"><i class="fa fa-question-circle"></i></span>

      </div>
      </div>
  </div>
