.loader-white {
    background: #f9f9f9;
    border: 1px solid #8c97af;
    border-radius: 4px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    margin-top: 24px;
}
.google-login-signup {
    margin-bottom: 10px;
    font-size: 14px;
}
.google-login-signup a {
    color: #7b5bc4;
    text-decoration: underline;
}