<app-header *ngIf="isHeaderMenuVisible"></app-header>
<app-sidebar-menu *ngIf="isSideMenuVisible"></app-sidebar-menu>
<router-outlet></router-outlet>
<app-footer *ngIf="!isSideMenuVisible && isFooterVisible"></app-footer>

<!-- <ng-container *ngIf="isLoading">
    <div class="lottie">
        <lottie-player src="/assets/dist/data/fbc68153-b8cc-49bf-80e1-d07b1df1019c.json" background="transparent" speed="1" style="width: 199px; height: 199px;" loop autoplay></lottie-player>
        <div class="donary-icon-lottie">
            <img src="/assets/dist/img/donary-icon.png" alt=""/>
        </div>
    </div>
</ng-container> -->
