<ng-template [ngIf]="checkForSubmenu()" [ngIfElse]="simpleResume">
  <li class="dropdown-submenu resume_schedule_menu"  (mouseenter)="openSubmenu($event)" (click)="$event.stopPropagation()">
    <a class="dropdown-item" style="cursor: pointer;">{{'RESUME'|translate}}</a>
    <ul class="dropdown-menu resume-menu" role="menu" aria-labelledby="dropdownMenu">
      <li (click)="onLeaveClick()">
        <a class="dropdown-item resume-menu-item" style="cursor: pointer;">{{'LEAVEORIGINAL'|translate}}</a>                        
      </li>  
      <li (click)="onResumeClickNew()">
        <a class="dropdown-item resume-menu-item" style="cursor: pointer;">{{'EDITNEXTPAYMENTDATE'|translate}}</a>                        
      </li>

      <li  *ngIf="nextDateEnable">
        <div class="dropdown-item resume-menu-item">
          <div class="form-group d-flex">
            <div class="input_group">
               <span class="icon"><img src="/assets/dist/img/calendar-icon.svg" width="20" height="20" alt="" /></span>
               <div class="searchbar">
              <input type="text" 
                class="form-control" 
                #calendarsearch  
                ngxDaterangepickerMd
                 [singleDatePicker]="true"
                [(ngModel)]="selectedDate"
                [minDate]="minDate"
                [showRangeLabelOnInput]="commonMethodService.showRangeLabelOnInput"
                [alwaysShowCalendars]="commonMethodService.alwaysShowCalendars"                                
                [opens]="commonMethodService.open" 
                [drops]="commonMethodService.drop"
                [showClearButton]="commonMethodService.showClearButton"                                
                />
               </div>
            </div>
            <button class="btn btn-primary" [disabled]="isDisable()" (click)="resumeSaved()">{{'SAVE'|translate}}</button>  
           </div>										
        </div>
      </li>
    </ul>
  </li>
</ng-template>
<ng-template #simpleResume>
  <li (click)="onSimpleResume()">
    <a class="dropdown-item" style="cursor: pointer;"><i class="fas fa-play" aria-hidden="true"></i>{{'RESUME'|translate}}</a>
  </li>
</ng-template>