.dropdown-submenu.no-arrow .dropdown-item:after {
    display: none;
}


.zip-dpw-disable {
    opacity: 0.5;
    pointer-events: none;
  }

.City-dpw-disable{
    opacity: 0.5;
    pointer-events: none;
}