<div class="modal-body pt-4 pl-4 pr-4 pb-0 text-center">
    <button class="dismiss modal-close border-0 bg-transparent opacity-50" (click)="cancel()">&times;</button>
    <p class="mb-4">
        <img src="/assets/dist/img/icon-send.svg" alt="" />
    </p>
  <p class="mb-3">{{'UPGRADEREQUEST' | translate}} </p>
  <p class="mb-0">{{'SALESTEAMREACH' | translate}}</p>
</div>
<div class="modal-footer d-flex justify-content-center align-items-center border-0 p-3">
  <button class="btn btn-default" (click)="cancel()">{{'OK' | translate}}</button>
</div>