.popup-send-mail-btn-disable {
    background: rgb(123, 91, 196, 0.5) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: 154px;
    height: 50px;
    font: normal normal 900 17px/23px Avenir;
    letter-spacing: 0px;
    color: #fff;
}