
<div class="modal-body modal__custom_content filter_modal_popup" ngbAutofocus  tabindex="-1">
    <div class="card" style="box-shadow: none !important;">
        <div class="row close_btn">
            <button type="button" class="close" aria-label="Close" (click)="closePopup()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="card-body"> 
            <div *ngIf="!isTotalPanelVisible">
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                      {{'ACCOUNTNUMBER'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" [(ngModel)]="accountNo" class="form-control" name="txtAccountNo"
                        id="input-accountno" />
                </div>
            </div>         
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'FULLNAME'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" [(ngModel)]="fullName" class="form-control" name="txtFullName"
                        id="input-fullname" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'FULLNAMEJEWISH'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" [(ngModel)]="fullNameJewish" class="form-control" name="txtFullNameJewish"
                        id="input-fullname" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'ADDRESS'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" [(ngModel)]="address" class="form-control" name="txtAddress"
                        id="input-address" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'CITY'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="city" name="txtCity" id="input-city" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'STATE'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="state" name="txtState" id="input-state" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'ZIP'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="zip" name="txtZip" id="input-zip" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'DEFAULTLOCATION'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <angular2-multiselect id="ddlPaymentLocation"
                        [settings]="commonMethodService.setDropDownSettings('Select Default Location',2,false,true)"
                        [data]="commonMethodService.paymentLocationList" [(ngModel)]="defaultLocations">
                    </angular2-multiselect>
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'GROUP'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="group" name="txtGroup" id="input-group" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'CLASS'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="class" name="txtClass" id="input-class" />
                </div>
            </div>          
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'PHONE'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="phone" name="txtphone" id="input-phone" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'EMAIL'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="email" name="txtEmail" id="input-email" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'FATHER'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="father" name="txtFather" id="input-Father" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                        {{'FATHERINLAW'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <input type="text" class="form-control" [(ngModel)]="fatherInLaw" name="txtFatherInLaw" id="input-fatherinlaw" />
                </div>
            </div>
            <div class="row">
                <div class="input-group col-3 mb-2">
                    <label for="lblDonor">
                       {{'STATUS'|translate}}
                    </label>
                </div>
                <div class="input-group col-9 mb-2">
                    <select class="form-control" [(ngModel)]="status" name="slctStatus" id="input-status">
                        <option value="">{{'ALL'|translate}}</option>
                        <option value="0">{{'ACTIVE'|translate}}</option>
                        <option value="-1">{{'INACTIVE'|translate}}</option>
                        </select>
                </div>
            </div>
            </div>
            <div *ngIf="isTotalPanelVisible">
                <div class="row">
                    <div class="input-group col-3 mb-2">
                        <label> {{'DONORS'|translate}}:</label>
                    </div>
                        <div class="input_group col-9 mb-2">                        
                            <angular2-multiselect [data]="commonMethodService.donorList"
                            [(ngModel)]="commonMethodService.selectedDonors"
                            [settings]="commonMethodService.setDropDownSettings('Select Donor',2,true,false,true)"                        
                            [loading]="commonMethodService.loaderSearch"
                            (onDeSelectAll)="commonMethodService.onDeSelectAll('donorList')">
                            <c-badge>
                                <ng-template let-item="item">
                                    <span style="margin: 0px;">{{item.fullNameJewish}}</span>
                                </ng-template>
                            </c-badge>
                            <c-search>
                                <ng-template>
                                    <input type="text" [(ngModel)]="commonMethodService.txtQuery"
                                        (ngModelChange)="commonMethodService.onDonorSearchFieldChange($event)"
                                        placeholder="{{'WORDS'|translate}}"
                                        style="border: none;width: 100%; height: 100%;outline: none;">
                                </ng-template>
                            </c-search>
                            <c-item>
                                <ng-template let-item="item">
                                    <label class="angular2-multiselectDataLabel">{{item.itemName}}</label>
                                </ng-template>
                            </c-item>
                        </angular2-multiselect>
                        </div>                
                </div>    
                <div class="row">
                <div class="input-group col-3 mb-2">
                <label>{{'CAMPAIGN'|translate}}:</label>
                </div>
                <div class="input-group col-9 mb-2"> 
                        <angular2-multiselect id="ddlCampaign"
                            [settings]="commonMethodService.setDropDownSettings('',2,false,false,true)"
                            [data]="commonMethodService.localCampaignList"
                            [(ngModel)]="commonMethodService.selectedFromCampaignList"
                            (onDeSelectAll)="commonMethodService.onDeSelectAll('CampaignList')">
                            <c-item>
                            <ng-template let-item="item">
                                    <label [ngClass]="contains_heb(item.itemName) ? 'heb-dropdown-title' : 'simple-dropdown-title' ">
                                                            {{item.itemName}}
                                        <span class="heb-dropdown-status">{{item.status}}</span></label>
                                             </ng-template>
                                                    </c-item>
                        </angular2-multiselect>
                    </div>
                </div>    
                <div class="row">
                    <div class="input-group col-3 mb-2">
                    <label>{{'LOCATION'|translate}}:</label>
                </div>
                    <div class="input-group col-9 mb-2">
                        <angular2-multiselect id="ddlPaymentLocation"
                            [settings]="commonMethodService.setDropDownSettings('',2,false,false,true)"
                            [data]="commonMethodService.localLocationList"
                            [(ngModel)]="commonMethodService.selectedPaymentLocations"
                            (onDeSelectAll)="commonMethodService.onDeSelectAll('paymentLocationList')">
                        </angular2-multiselect>
                    </div>
                </div>    
                <div class="row">
                    <div class="input-group col-3 mb-2">
                        <label>{{'REASON'|translate}}:</label>
                    </div>
                    <div class="input-group col-9 mb-2"> 
                        <angular2-multiselect id="ddlPaymentReason"
                            [settings]="commonMethodService.setDropDownSettings('',2,false,false,true)"
                            [data]="commonMethodService.localReasonList"
                            [(ngModel)]="commonMethodService.selectedPaymentReasons"
                            (onDeSelectAll)="commonMethodService.onDeSelectAll('paymentReasonList')">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group col-3 mb-2">
                    <label>{{'SOURCE'|translate}}:</label>
                </div>
                <div class="input-group col-9 mb-2">     
                    <angular2-multiselect id="ddlSourceType"
                    [settings]="commonMethodService.setDropDownSettings('',2,false,false,true)"
                    [data]="commonMethodService.localDeviceTypeList"
                    [(ngModel)]="commonMethodService.selectedPaymentDeviceTypes"                       
                    (onDeSelectAll)="commonMethodService.onDeSelectAll('deviceTypeList')"
                    >
                </angular2-multiselect>
                </div>
                </div>
            </div>
        </div>
        <div *ngIf="commonMethodService.isCommonDropDownloading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>

    <div class="modal-footer justify-content-between modal__custom_footer">
        <div class="left_part"></div>
        <div class="right_part">
            <button class="btn btn-primary" (click)="searchCollector()">{{'SEARCH'|translate}}</button>&nbsp;&nbsp;
            <button class="btn btn-default" (click)="clearFilter()" >{{'CLEARALLFILTERS'|translate}}</button>
        </div>
    </div>
</div>
