  <div class="diglog_modal modal_custom" ngbAutofocus  tabindex="-1">
    <div class="modal_custom_header modal__custom_header">
      <h4>{{'PRINT' | translate}} {{'RECEIPT' | translate}} {{'ACTIONS' | translate}}</h4>

      <div class="filter_section">
        <button class="dismiss" (click)="closePopup()">&times;</button>
      </div>
    </div>
    <div class="modal_custom_content modal__custom_content">
      <div class="table_wrapper">
        <table cellpadding="0" cellspacing="0" id="advancereceipttbl" [svData]="dataList" #sv="svDataTable"
          [svRowsOnPage]="25" svSortBy="createdDate" svSortOrder="desc">
          <thead>
            <tr>
              <th>
                <sv-default-sorter by="fullNameJewish">
                  <span>{{'DONORNAME' | translate}}</span>
                </sv-default-sorter>
              </th>

              <th>
                <sv-default-sorter by="receiptNum">
                  <span>{{'RECEIPT' | translate}}</span>
                </sv-default-sorter>
              </th>


              <th>
                <div class="ae-checkbox">
                  <input type="checkbox" name="selectAllPrints" (change)="selectPrints($event,'selectAll',null)" id="selectAllPrintId">
                  <label for="selectAllPrintId">
                    <sv-default-sorter>
                      <span>{{'PRINT' | translate}}</span>
                    </sv-default-sorter>
                  </label>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="sv.data?.length > 0">
            <tr *ngFor="let item of sv.data; let i=index">
              <td class="blk-td-donor-box" [ngClass]="item.globalId==688008 ? 'edit-disabled' : '' ">
                <div class="d-flex justify-content-between align-items-center">
                <span *ngIf="item.globalId==688008"  class="lng_hebrew hebrew_font">{{
                  (item.fullNameJewish != null && item.fullNameJewish.length > 18) ?
                  (item.fullNameJewish
                  | slice:0:18)+'..': (item.fullNameJewish) }}</span>
                  <span *ngIf="item.globalId==688008" class="edit text-info" [ngClass]="item.globalId==688008 ? 'edit-tooltip-wrap' : '' "
                  appDataHover labelText="{{'EDITDUFUELEDDONOR' | translate}}">
                  <i class="material-icons">edit</i></span>
                  <span (click)="editDonor(item.accountId)" *ngIf="item.globalId !=688008" class="lng_hebrew hebrew_font">{{
                  (item.fullNameJewish != null && item.fullNameJewish.length > 18) ?
                  (item.fullNameJewish
                  | slice:0:18)+'..': (item.fullNameJewish) }}</span>
                  <span (click)="editDonor(item.accountId)" *ngIf="item.globalId !=688008" class="edit text-info">
                  <i class="material-icons">edit</i></span>
                  </div>
              </td>
              <td class="blk-td-receipt-box">
              <span  (click)="openPaymentCardPopup(item.paymentId)"  class="blueviolet">{{item.receiptNum}}</span>
              </td>


              <td class="blk-td-print-box">
                <div class="ae-checkbox">
                  <input #printcheckboxes type="checkbox" name="singlecheck"
                  (change)="selectPrints($event,'singlecheck',item.paymentId)"
                  [checked]="checkPrintIsSelectOrNot(item.paymentId)" [id]="item.paymentId+'_'">
                  <label [for]="item.paymentId+'_'"></label>
                  <span class="checked_icon" *ngIf="item.printSent==true"></span>
                </div>
              </td>

            </tr>
          </tbody>


        </table>
      </div>
    </div>
    <div class="modal_custom_footer modal__custom_footer">
      <div class="new_tblfoot">
        <div class="show_entry">
          <div  class="custom_pagination">
            <sv-bootstrap-paginator [svTable]="sv"></sv-bootstrap-paginator>
          </div>
        </div>
      </div>
      <button class="btn btn-default" (click)="closePopup()">{{'CANCEL' | translate}}</button>
      <button *ngIf="!isUpdated && selectedAccountList.length <= 50 && selectedAccountList.length!=0" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'PRINTRECEIPTS' | translate}}</button>
      <button *ngIf="!isUpdated && (selectedAccountList.length==0 || selectedAccountList.length > 50)" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'Send Receipts' | translate}}</button>
      <button *ngIf="isUpdated" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'UPDATE' | translate}} {{'AND' | translate}} {{'SENDRECEIPTS' | translate}}</button>


    </div>

    <div *ngIf="isloading" class="card-overlay" >
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>
