<!-- <div class="modal_custom" ngbAutofocus tabindex="-1">
    <div class="modal-header-custom modal__custom_header">
      <h4>Print Receipt </h4>
      <span class="close_trigger" (click)="closePopup()" data-dismiss="modal"
        >&times;</span>
    </div>
    <div class="modal-content-custom modal__custom_content print_receipt" style="height: 500px;" >
        <iframe [src]='fileName' width="700px" height="550px" *ngIf="showContent"></iframe>
        <div *ngIf="isloading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>

  </div> -->


   <div class="diglog_modal modal_custom" ngbAutofocus  tabindex="-1">
    <div class="modal_custom_header modal__custom_header">
      <h4>{{'PRINT' | translate}} {{'RECEIPT' | translate}} {{'ACTIONS' | translate}}</h4>

      <div class="filter_section">
        <!-- <div class="filter__by">
          <label>Filter By: Sent status</label>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{'FILTERBYSTATUS' | translate}}:
            </a>
            <div class="dropdown-menu">
              <form class="accordion" id="accordionSentExample">
                <div>
                  <div class="form-check">
                    <input class="advance_filter_chkbx" type="checkbox" [disabled]="isSentDisabled"  (change)="OnSentCheckboxChange($event)" [checked]="isSentChecked" value="" id="chcbxSent">
                    <span class="toggle_arrow" data-toggle="collapse" data-target="#collapseSentStatus" aria-expanded="true"
                    aria-controls="collapseSentStatus" role="button">
                    <label class="form-check-label">
                      {{'SENT' | translate}}
                    </label>
                    </span>
                  </div>

                  <div id="collapseSentStatus" class="collapse px-4 show" aria-labelledby="headingOne"
                    data-parent="#accordionSentExample">

                    <ul (click)="$event.stopPropagation();">
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isSentMailDisabled" (change)="OnSentMailCheckboxChange($event)" [checked]="isSentMailChecked" value="" id="chcbxSentMail">
                          <label class="form-check-label" for="chcbxSentMail">
                            {{'MAIL' | translate}}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isSentPrintDisabled" (change)="OnSentPrintCheckboxChange($event)" [checked]="isSentPrintChecked" value="" id="chcbxSentPrint">
                          <label class="form-check-label" for="chcbxSentPrint">
                            {{'PRINT' | translate}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div>
                  <div class="form-check">
                    <input class="advance_filter_chkbx" type="checkbox" [disabled]="isNotSentDisabled" (click)="OnNotSentCheckboxChange($event)" [checked]="isNotSentChecked"  value="" id="chcbxNotSent">
                    <span class="toggle_arrow collapsed" data-toggle="collapse" data-target="#collapseNotSentStatus" aria-expanded="true"
                    aria-controls="collapseNotSentStatus" role="button">
                    <label class="form-check-label">
                      {{'NOTSENT' | translate}}
                    </label>
                    </span>
                  </div>

                  <div id="collapseNotSentStatus" class="collapse px-4"  aria-labelledby="headingTwo"
                    data-parent="#accordionSentExample">
                    <ul (click)="$event.stopPropagation();">
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isNotSentMailDisabled" (change)="OnNotSentMailCheckboxChange($event)" [checked]="isNotSentMailChecked" value="" id="chcbxNotSentMail">
                          <label class="form-check-label" for="chcbxNotSentMail">
                            {{'MAIL' | translate}}
                          </label>
                        </div>

                      </li>
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isNotSentPrintDisabled" (change)="OnNotSentPrintCheckboxChange($event)" [checked]="isNotSentPrintChecked" value="" id="chcbxNotSentPrint">
                          <label class="form-check-label" for="chcbxNotSentPrint">
                            {{'PRINT' | translate}}
                          </label>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>          -->

        <!-- <div class="filter__by">
          <label>Filter By: Missing Data</label>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{'FILTERBY' | translate}}:
            </a>
            <div class="dropdown-menu">
              <form class="accordion" id="accordionMissingExample">
                <div>
                  <div class="form-check">
                    <input class="advance_filter_chkbx" type="checkbox" [disabled]="isHasDisabled" (change)="OnHasCheckboxChange($event)" [checked]="isHasChecked" value="" id="chckbxHas">
                    <span class="toggle_arrow collapsed" data-toggle="collapse" data-target="#collapseHasStatus" aria-expanded="false"
                    aria-controls="collapseHasStatus" role="button">
                    <label class="form-check-label">
                      {{'HAS' | translate}}
                    </label>
                  </span>
                  </div>

                  <div id="collapseHasStatus" class="collapse px-4" aria-labelledby="headingTwo"
                    data-parent="#accordionMissingExample">
                    <ul (click)="$event.stopPropagation();">
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isHasMailDisabled" (change)="OnHasMailCheckboxChange($event)" [checked]="isHasMailChecked" value="" id="chckbxHasMail">
                          <label class="form-check-label" for="chckbxHasMail">
                            {{'MAIL' | translate}}
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isHasPrintDisabled" (change)="OnHasPrintCheckboxChange($event)" [checked]="isHasPrintChecked" value="" id="chckbxHasPrint">
                          <label class="form-check-label" for="chckbxHasPrint">
                            {{'PRINT' | translate}}
                          </label>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="dropdown-divider"></div>

                <div  >
                  <div class="form-check">
                    <input class="advance_filter_chkbx" type="checkbox" [disabled]="isMissingDisabled" (change)="OnMissingCheckboxChange($event)" [checked]="isMissingChecked" value="" id="chckbxMissing">
                    <span class="toggle_arrow collapsed" data-toggle="collapse" data-target="#collapseMissingStatus" aria-expanded="false"
                    aria-controls="collapseMissingStatus" role="button">
                    <label class="form-check-label">
                      {{'MISSING' | translate}}
                    </label>
                  </span>
                  </div>

                  <div id="collapseMissingStatus" class="collapse px-4" aria-labelledby="headingTwo"
                    data-parent="#accordionMissingExample">
                    <ul (click)="$event.stopPropagation();">
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isMissingMailDisabled" (change)="OnMissingMailCheckboxChange($event)" [checked]="isMissingMailChecked" value="" id="chckbxMissingMail">
                          <label class="form-check-label" for="chckbxMissingMail">
                            {{'MAIL' | translate}}
                          </label>
                        </div>

                      </li>
                      <li>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [disabled]="isMissingPrintDisabled" (change)="OnMissingPrintCheckboxChange($event)" [checked]="isMissingPrintChecked" value="" id="chckbxMissingPrint">
                          <label class="form-check-label" for="chckbxMissingPrint">
                            {{'PRINT' | translate}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>  -->
        <!-- <button class="btn btn-default clear_filter_btn" (click)="clearAllFilters()" >{{'CLEARFILTERS' | translate}}</button> -->

        <button class="dismiss" (click)="closePopup()">&times;</button>
      </div>
    </div>
    <div class="modal_custom_content modal__custom_content">
      <div class="table_wrapper">
        <table cellpadding="0" cellspacing="0" id="advancereceipttbl" [svData]="dataList" #sv="svDataTable"
          [svRowsOnPage]="25" svSortBy="createdDate" svSortOrder="desc">
          <thead>
            <tr>
              <th>
                <sv-default-sorter by="fullNameJewish">
                  <span>{{'DONORNAME' | translate}}</span>
                </sv-default-sorter>
              </th>

              <th>
                <sv-default-sorter by="receiptNum">
                  <span>{{'RECEIPT' | translate}}</span>
                </sv-default-sorter>
              </th>


              <th>
                <div class="ae-checkbox">
                  <input type="checkbox" name="selectAllPrints" (change)="selectPrints($event,'selectAll',null)" id="selectAllPrintId">
                  <label for="selectAllPrintId">
                    <sv-default-sorter>
                      <span>{{'PRINT' | translate}}</span>
                    </sv-default-sorter>
                  </label>
                </div>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="sv.data?.length > 0">
            <tr *ngFor="let item of sv.data; let i=index">
              <td class="blk-td-donor-box" [ngClass]="item.globalId==688008 ? 'edit-disabled' : '' ">
                <!-- <input #namecheckboxes type="checkbox" name="singlecheck"
                  (change)="selectName($event,'singlecheck',item.paymentId)"

                  [checked]="checkAccountIsSelectOrNot(item.paymentId)"
                  [disabled]="checkDonorIsDisable(item.paymentId)"
                > -->
                <div class="d-flex justify-content-between align-items-center">
                <span *ngIf="item.globalId==688008"  class="lng_hebrew hebrew_font">{{
                  (item.fullNameJewish != null && item.fullNameJewish.length > 18) ?
                  (item.fullNameJewish
                  | slice:0:18)+'..': (item.fullNameJewish) }}</span>
                  <span *ngIf="item.globalId==688008" class="edit text-info" [ngClass]="item.globalId==688008 ? 'edit-tooltip-wrap' : '' "
                  appDataHover labelText="{{'EDITDUFUELEDDONOR' | translate}}">
                  <i class="material-icons">edit</i></span>
                  <span (click)="editDonor(item.accountId)" *ngIf="item.globalId !=688008" class="lng_hebrew hebrew_font">{{
                  (item.fullNameJewish != null && item.fullNameJewish.length > 18) ?
                  (item.fullNameJewish
                  | slice:0:18)+'..': (item.fullNameJewish) }}</span>
                  <span (click)="editDonor(item.accountId)" *ngIf="item.globalId !=688008" class="edit text-info">
                  <i class="material-icons">edit</i></span>
                  </div>
              </td>
              <td class="blk-td-receipt-box">
              <span  (click)="openPaymentCardPopup(item.paymentId)"  class="blueviolet">{{item.receiptNum}}</span>
              </td>


              <td class="blk-td-print-box">
                <div class="ae-checkbox">
                  <input #printcheckboxes type="checkbox" name="singlecheck"
                  (change)="selectPrints($event,'singlecheck',item.paymentId)"
                  [checked]="checkPrintIsSelectOrNot(item.paymentId)" [id]="item.paymentId+'_'">
                  <label [for]="item.paymentId+'_'"></label>
                  <span class="checked_icon" *ngIf="item.printSent==true"></span>
                </div>
              </td>

            </tr>
          </tbody>


        </table>
      </div>
    </div>
    <div class="modal_custom_footer modal__custom_footer">
      <div class="new_tblfoot">
        <div class="show_entry">
          <div  class="custom_pagination">
            <sv-bootstrap-paginator [svTable]="sv"></sv-bootstrap-paginator>
          </div>
        </div>
      </div>
      <button class="btn btn-default" (click)="closePopup()">{{'CANCEL' | translate}}</button>
      <button *ngIf="!isUpdated && selectedAccountList.length <= 50 && selectedAccountList.length!=0" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'PRINTRECEIPTS' | translate}}</button>
      <button *ngIf="!isUpdated && (selectedAccountList.length==0 || selectedAccountList.length > 50)" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'Send Receipts' | translate}}</button>
      <button *ngIf="isUpdated" class="btn btn-primary" (click)=" sendPrint()" [disabled]="totalSelectedShow()==0">{{'UPDATE' | translate}} {{'AND' | translate}} {{'SENDRECEIPTS' | translate}}</button>


    </div>

    <div *ngIf="isloading" class="card-overlay" >
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>
