<div class="modal_wrap device_popup updated_card_dsgn" style="display: block;" ngbAutofocus tabindex="-1">
  <div class="diglog_header modal__custom_header">
    <div class="titlebar">
      <h4>{{'SOURCECARD'|translate}}</h4>
    </div>
    <div class="header_actions">
      <div class="filter_field">
        <button type="button" (click)="openSearchFilterPopup()" class="btn btn-default">
          <span class="filter_count" *ngIf="filtercount!=0">{{filtercount}}</span>
          <span class="filter_text">{{'FILTER'|translate}}</span>
        </button>
      </div>
      <ng-template #popContent><app-common-hebrew-english-calendar [pageName]="PageName" [data]="selectedDateRange"
          [isOneDate]="isOneDate"></app-common-hebrew-english-calendar>
      </ng-template>
      <div class="input-group dnr-datepicker-container date_picker" (clickOutside)="onClickedOutsidePopover(p1)"
        container="body" #p1="ngbPopover" [ngbPopover]="popContent" popoverClass="calender-modal"
        [popoverTitle]="popTitle" [autoClose]="false"
        placement="bottom left right start end bottom-start bottom-end end-top end-bottom"
        (click)="openHebrewCalendarPopup()" id="dynamicsCalender">
        <input type="text" class="form-control" value="" [placeholder]="EngHebCalPlaceholder" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="far fa-calendar-alt ngx-daterangepicker-action"></i>
          </span>
        </div>
      </div>
      <!-- Calendar code ended -->
      <button class="b_tn edit_icon" appDataHover labelText="{{'EDIT' | translate}}" type="button"
        (click)="editSourceCard()" *ngIf="deviceName != 'Scheduler'">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
      <button class="dismiss" (click)="closePopup()">&times;</button>
    </div>
  </div>

  <div class="modal__custom_content">
    <div class="cards_secton">
      <div class="card" id="card-payment">
        <a style="cursor: pointer" (click)="openPaymentListCardPopup(deviceId)">
          <span class="data">
            <p> <app-skeleton-loader-component [isLoading]="isloading"
                [theme]="{ width: '70px', height: '8px' }">{{'PAYMENTS'|translate}}</app-skeleton-loader-component></p>
            <h6> <app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '70px', height: '8px' }">{{
                commonMethodService.formatAmount(payments) || commonMethodService.formatAmount(0.00)
                }}</app-skeleton-loader-component></h6>
          </span>
          <span class="right-arrow action_btn"></span>
        </a>
      </div>
      <div class="card" id="card-pledge">
        <a style="cursor: pointer" (click)="openPledgeListCardPopup(deviceId)">
          <span class="data">
            <p> <app-skeleton-loader-component [isLoading]="isloading"
                [theme]="{ width: '70px', height: '8px' }">{{'OPENPLEDGES'|translate}}</app-skeleton-loader-component>
            </p>
            <h6> <app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '70px', height: '8px' }">{{
                commonMethodService.formatAmount(openPledges) || commonMethodService.formatAmount(0.00)
                }}</app-skeleton-loader-component></h6>
          </span>
          <span class="right-arrow action_btn"></span>
        </a>
      </div>
      <div class="card" id="card-shedule">
        <a style="cursor: pointer" (click)="openScheduleListCardPopup(deviceId)">
          <span class="data">
            <p> <app-skeleton-loader-component [isLoading]="isloading"
                [theme]="{ width: '70px', height: '8px' }">{{'SCHEDULED'|translate}}</app-skeleton-loader-component></p>
            <h6> <app-skeleton-loader-component [isLoading]="isloading" [theme]="{ width: '70px', height: '8px' }">{{
                commonMethodService.formatAmount(scheduled) || commonMethodService.formatAmount(0.00)
                }}</app-skeleton-loader-component></h6>
          </span>
          <span class="right-arrow action_btn"></span>
        </a>
      </div>
      <div class="card total_raised">
        <span class="data">
          <p>{{'TOTALRAISED'|translate}}</p>
          <h6>{{ commonMethodService.formatAmount(raised) || commonMethodService.formatAmount(0.00) }}</h6>
        </span>
      </div>
    </div>
    <div class="donor_information">
      <div class="donor_name" (click)="CopyCommonText($event, deviceName)" style="cursor: text;">
        <p> <app-skeleton-loader-component [isLoading]="isloading"
            [theme]="{ width: '170px', height: '15px' }">{{'DEVICE'|translate}}:</app-skeleton-loader-component></p>
        <h5> <app-skeleton-loader-component [isLoading]="isloading"
            [theme]="{ width: '190px', height: '20px' }">{{deviceName}} -
            {{deviceOptionName}}</app-skeleton-loader-component></h5>
      </div>

      <div class="right_col">
        <div class="sort_num" (click)="CopyLastSync($event)" style="cursor: text;">
          <p> <app-skeleton-loader-component [isLoading]="isloading"
              [theme]="{ width: '170px', height: '15px' }">{{'LASTSYNCED'|translate}}:</app-skeleton-loader-component>
          </p>
          <h5> 
            <app-skeleton-loader-component [isLoading]="isloading"
              [theme]="{ width: '190px', height: '20px' }">
              {{lastSync | donaryDateFormat: 'describe'}}
            </app-skeleton-loader-component>
          </h5>
        </div>
      </div>
    </div>

    <div class="content_info">
      <div class="sub_tab_wrap">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#campaigninfo" class="active" data-toggle="tab">{{'CAMPAIGNINFO'|translate}}</a>
          </li>
          <li><a href="#deviceinfo" data-toggle="tab">{{'DEVICEINFO'|translate}}</a></li>
          <li><a href="#subscription" data-toggle="tab">{{'SUBSCRIPTION'|translate}}</a></li>
          <li *ngIf="commonMethodService.ShulKioskBulletinImage && deviceName?.includes('DSH')"><a href="#bulletinimage"
              data-toggle="tab">{{'BULLETINIMAGE'|translate}}</a></li>
        </ul>
        <div class="tab-content sub_tab">
          <div class="tab-pane active" id="campaigninfo">
            <div class="col_left">
              <ng-container *ngFor="let item of skeletonitems">
                <app-list-card-skeleton-loader [isLoader]="isloading"></app-list-card-skeleton-loader>
              </ng-container>
              <ng-container *ngIf="!isloading">
                <div class="block-col" (click)="CopyCommonText($event, campaignName)">
                  <span class="icon"><i class="campaign_icon"></i></span>
                  <span class="text">
                    <h6> {{'CAMPAIGN'|translate}}: <span *ngIf="campaignName" class="lockicon"></span></h6>
                    <p style="color: #8568CA; cursor: pointer;" (click)="openCampaignCardPopup(campaignId)">
                      {{campaignName}}</p>
                  </span>
                </div>
                <div class="block-col">
                  <span class="icon"><i class="reason_icon"></i></span>
                  <span class="text">
                    <h6>{{'REASON'|translate}}:<span *ngIf="reasonName" class="lockicon"></span></h6>
                    <p style="color: #8568CA; cursor: pointer;" (click)="openReasonCardPopup(reasonId)">{{reasonName}}
                    </p>
                  </span>
                </div>
                <div class="block-col">
                  <span class="icon"><i class="location_icon"></i></span>
                  <span class="text">
                    <h6>{{'LOCATION'|translate}}: <span *ngIf="address || cityStateZip" class="lockicon"></span> </h6>
                    <p style="color: #8568CA; cursor: pointer;" (click)="openLocationCardPopup(locationId)"> {{address}}
                      {{cityStateZip}} </p>
                  </span>
                </div>
              </ng-container>
            </div>
            <div class="col_right">
              <ng-container *ngFor="let item of skeletonitems2">
                <app-list-card-skeleton-loader [isLoader]="isloading"></app-list-card-skeleton-loader>
              </ng-container>
              <ng-container *ngIf="!isloading">
                <div class="block-col">
                  <span class="icon"><i class="transdate_icon"></i></span>
                  <span class="text">
                    <h6>{{'TRANSACTIONDATE'|translate}}:</h6>
                    <p>{{ transDate | donaryDateFormat: "short" }} </p>
                  </span>
                </div>
                <div class="block-col" (click)="CopyCommonText($event, collectorName)">
                  <span class="icon"><i class="collector_icon"></i></span>
                  <span class="text">
                    <h6>{{'COLLECTOR'|translate}}:<span *ngIf="collectorName" class="lockicon"></span></h6>
                    <p style="color: #8568CA; cursor: pointer;" (click)="openCollectorCardPopup(collectorId)">
                      {{collectorName}}</p>
                  </span>
                </div>
              </ng-container>
              <!-- new code -->
              <!-- *ngIf="latitude && longitude" -->
              <div class="block-col source-map" *ngIf="latitude && longitude">
                <span class="icon map_icon-view"><img src="assets/dist/img/pin-map.svg"></span>
                <span class="text">
                  <p class="lng_hebrew" (click)="openMapCardPopup()"
                    style="cursor: pointer;text-decoration: underline;">{{'MAPVIEW'|translate}}: </p>
                </span>
              </div>
              <!-- end new cod -->
            </div>
            <div class="row">
              <div class="map_area" *ngIf="isMapShow">
                <iframe width="100%" height="150" style="border:0" frameborder="0" allowfullscreen="true"
                  aria-hidden="false" tabindex="0" [attr.src]="iFrameUrl">
                </iframe>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="deviceinfo">
            <div class="col_left">
              <div class="block-col">
                <span class="icon"><i class="fas fa-sim-card"></i></span>
                <span class="text">
                  <h6>{{'SIMPHONENUMBER'|translate}}:</h6>
                  <p>{{simPhoneNum}} </p>
                </span>
              </div>
              <div class="block-col">
                <span class="icon"><i class="fas fa-desktop"></i></span>
                <span class="text">
                  <h6>{{'MACADDRESS'|translate}}:</h6>
                  <p>{{macAddress}}</p>
                </span>
              </div>
              <div class="block-col">
                <span class="icon"><i class="fas fa-hashtag"></i></span>
                <span class="text">
                  <h6>{{'SIMNO'|translate}}:</h6>
                  <p> {{simNum}} </p>
                </span>
              </div>
              <div class="block-col">
                <span class="icon"><i class="fas fa-th-large"></i></span>
                <span class="text">
                  <h6>{{'PINNUMBER'|translate}}:</h6>
                  <p> {{deviceOptionPIN}} </p>
                </span>
              </div>
            </div>
            <div class="col_right">
              <div class="block-col">
                <span class="icon"><i class="battery_icon"></i></span>
                <span class="text">
                  <h6>{{'BATTERYLEVEL'|translate}}:</h6>
                  <p>{{battery}} </p>
                </span>
              </div>
              <div class="block-col">
                <span class="icon"><i class="fas fa-signal"></i></span>
                <span class="text">
                  <h6>{{'SIGNAL'|translate}}:</h6>
                  <p>{{signal}}</p>
                </span>
              </div>
              <div class="block-col">
                <span class="icon"><i class="version_icon"></i></span>
                <span class="text">
                  <h6>{{'VERSION#'|translate}}:</h6>
                  <p>{{version}}</p>
                </span>
              </div>
              <!-- added Lastsync-->
              <div class="block-col">
                <span class="icon"><i class="cloud_icon"></i></span>
                <span class="text">
                  <h6>{{'LASTSYNCED'|translate}}:</h6>
                  <p >{{lastSync | donaryDateFormat: 'long-medium'}}</p>
                </span>
              </div>
              <!-- end -->
            </div>
          </div>
          <div class="tab-pane" id="subscription">
            <div class="row">
              <span class="plan_detail col">
                <p>{{'PLAN'|translate}}:</p>
                <p>{{plan}}</p>
              </span>
              <span class="plan_detail col">
                <p>{{'ACTIVATED'|translate}}:</p>
                <p>{{ activatedOn | donaryDateFormat: "long" }}</p>
              </span>
            </div>

            <div class="row">
              <span class="status_detail col">
                <p>{{'STATUS'|translate}}:</p>
                <p>{{status}}</p>
              </span>

              <span class="status_detail col">
                <p>{{'DEACTIVATED'|translate}}:</p>
                <p>{{ deActivatedOn | donaryDateFormat: "long"}}</p>
              </span>
            </div>
          </div>
          <div class="tab-pane" id="bulletinimage">
            <div class="form-group form-upload">
              <div class="d-flex flex-column flex-md-row align-items-center justify-content-between gap-3">
                <div class="d-flex flex-column">
                  <label class="label">Upload a bulletin image</label>
                  <small>Size: 750 x 322 px</small>
                </div>
                <div class="d-flex align-items-center gap-3 " *ngIf="isBulletInImageUploaded">
                  <button href="javascript:void(0)" class="" [disabled]="disableDoubleClickEvent" *ngIf="isSave"
                    (click)="saveImage()"><i class="fas fa-save"></i>SAVE</button>
                  <div class="position-relative">
                    <a href="javascript:void(0)" class=""><i><img src="assets/dist/img/awesome-edit.svg"></i>REPLACE</a>
                    <input class="file-input" type="file" name="doc_file" id="org_file"
                      (change)="getBase64String($event)" placeholder="{{'UPLOADFILE'  | translate}}" accept=".png,.JPG">
                  </div>
                  <a href="javascript:void(0)" class="" (click)="Remove()"><i><img
                        src="assets/dist/img/material-delete.svg"></i>REMOVE</a>
                </div>
              </div>
              <div class="cstm_selct_file {{setCls}}">
               
                <div class="cstm_selct_file_content position-relative" *ngIf="!imageUrl">
                  <button class="selct_file" type="button">{{'SELECTFILE' | translate}}</button>
                  <input class="file-input" type="file" name="doc_file" id="org_file" (change)="getBase64String($event)"
                    placeholder="{{'UPLOADFILE'  | translate}}" accept=".png,.JPG">
                </div>
                <div class="preview-imageUrl input-drag-drop" *ngIf="imageUrl">
                  <section *ngIf="fromDbImg_1"><img src={{imageUrl}} /></section>
                  <section *ngIf="!fromDbImg_1">
                    <image-cropper [imageChangedEvent]="imageChangedEvent_1" [maintainAspectRatio]="true"
                      [resizeToWidth]='750' [resizeToHeight]='322' [aspectRatio]="80 / 29" format="png"
                      [containWithinAspectRatio]="false" (imageCropped)="imageCropped($event)"
                      [hideResizeSquares]="true" output="base64"></image-cropper>

                  </section>
                  <!-- <button (click)="saveImage()">Save</button> -->
                </div>

                <!-- <img src="" alt="" *ngIf="isBulletInImageUploaded"> -->
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>