<div class="setup_schedule_pop" ngbAutofocus tabindex="-1">
    <div class="popup_header modal__custom_header">
        <h5>{{'AREYOUSURECANCELPAYMENT'|translate}}</h5>        
        </div>      
        <div class="schedule-sticky-pop">  
            <div class="modal__custom_content">
           <span class="amount">$30.00</span>    
           <span class="date">Oct 12,2021</span>    
           <span class="donor_name">ר' נחמן קעניגסבערג</span>                          
</div>       
 <div class="modal__custom_footer">
<div class="btn_info">    
    <button type="button" class="btn btn-default cancel" (click)="closePopup()">{{'YESCANCELPAYMENT'|translate}}</button>&nbsp;&nbsp;
    <button class="btn btn-default"  (click)="closePopup()">{{'CANCEL'|translate}}</button>
</div>
</div>
    </div>
    </div>